<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card bg-light mb-3" style="max-width: 20rem; height: 12rem;">
                <div class="card-header">Total Productos</div>
                <div class="card-body">
                    <h1 class="card-title text-center"><strong>{{ cantidadProductos }}</strong></h1>
                    <hr>
                    <a href="#" class="card-text">Ver más.</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light mb-3" style="max-width: 20rem; height: 12rem;">
                <div class="card-header">Total Clientes</div>
                <div class="card-body">
                    <h1 class="card-title text-center"><strong>{{ cantidadClientes }}</strong></h1>
                    <hr>
                    <a href="#" class="card-text">Ver más.</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light mb-3" style="max-width: 20rem; height: 12rem;">
                <div class="card-header">Total Ventas</div>
                <div class="card-body">
                    <h1 class="card-title text-center"><strong>{{ cantidadFacturas }}</strong></h1>
                    <hr>
                    <a href="#" class="card-text">Ver más.</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card bg-light mb-3" style="max-width: 20rem; height: 12rem;">
                <div class="card-header">Meta Mensual Ventas</div>
                <div class="card-body text-center mx-auto" style="margin: 0; padding: 0;">
                    <ngx-charts-pie-grid
                        [view]="chartMetaMensual.view"
                        [scheme]="chartMetaMensual.scheme"
                        [results]="VentaMensualFarciaOpalo"
                        [designatedTotal]="chartMetaMensual.designedTotal"
                        (select)="onSelect($event)">
                    </ngx-charts-pie-grid>
                    <!-- <hr>
                    <a href="#" class="card-text">Resúmen mensual.</a> -->
                </div>
            </div>
        </div>
    </div>
    <!-- DIVISIÓN FILAS -->
    <div class="row">
        <div class="col-6">

            <div class="card bg-light mb-3" style="height: 50vh">
                <div class="card-header">Resumen Anual por Meses</div>
                <div class="card-body text-center" style="max-height: 80%; max-width: 90%;">
                    <ngx-charts-area-chart
                        [scheme]="chartVentasPorMes.scheme"
                        [legend]="chartVentasPorMes.legend"
                        [showXAxisLabel]="chartVentasPorMes.showXAxisLabel"
                        [showYAxisLabel]="chartVentasPorMes.showYAxisLabel"
                        [xAxis]="chartVentasPorMes.xAxis"
                        [yAxis]="chartVentasPorMes.yAxis"
                        [xAxisLabel]="chartVentasPorMes.xAxisLabel"
                        [yAxisLabel]="chartVentasPorMes.yAxisLabel"
                        [timeline]="chartVentasPorMes.timeline"
                        [results]="VentaPorMesFarmaciaOpalo"
                        [legendTitle]="chartVentasPorMes.legendTitle"
                        [yScaleMax]="200"
                        [gradient]="true"
                        (select)="onSelect($event)">
                    </ngx-charts-area-chart>
                    <!-- <hr> -->
                    <!-- <a href="#" class="card-text">Resúmen productos.</a> -->
                </div>
            </div>

        </div>
        <div class="col-6">

            <div class="card bg-light mb-3" style="height: 50vh">
                <div class="card-header">Resumen Metas Tiendas Este Mes</div>
                <div class="card-body text-center" style="height: 40%; width: 90%;">
                    <ngx-charts-gauge
                        [scheme]="chartResumenMetasTiendas.scheme"
                        [results]="VentaMensualPorTiendas"
                        [legend]="chartResumenMetasTiendas.legend"
                        [legendPosition]="chartResumenMetasTiendas.legendPosition"
                        [max]="100"
                        legendTitle="Tiendas"
                        >
                    </ngx-charts-gauge>
                </div>
            </div>

        </div>
    </div>
</div>