<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title my-3">
        <h4>Venta de Productos - Caja</h4>
        <h6>Usuario: Gestacio</h6>
        <!-- <form class="d-flex gap-2">
            <button type="button" class="btn btn-info" routerLink="/add">Agregar Producto</button>
            <button type="button" class="btn btn-secondary" routerLink="/sell">Vender Producto</button>
        </form> -->
    </div>



    <div class="row">
        <!-- COLUMNA IZQUIERDA -->
        <div class="col-6">
            <div style="max-height: 70vh; overflow-y: scroll;">

                <table *ngIf="listProducts.length > 0" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of listProducts" class="table-light">
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price | currency }}</td>
                            <td>{{ product.stock }}</td>
                            <td>
                                <button (click)="insertListCart(product)" type="button" class="btn btn-info btn-sm"><i
                                        class="bi bi-cart-plus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 *ngIf="listProducts.length < 1">No hay productos para mostar</h5>
            </div>
        </div>

        <!-- COLUMNA DERECHA -->
        <div class="col-6">
            <!-- FILA ARRIBA -->
            <div class="row" style="height: 35vh; overflow-y: scroll;">
                <table *ngIf="listCart.length > 0" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Costo</th>
                            <!-- <th scope="col">Cantidad</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of listCart" class="table-light">
                            <td>{{ product.id }}</td>
                            <!-- <td>{{ product.description }}</td> -->
                            <td>{{ product.name }}</td>
                            <td>{{ product.price | currency }}</td>
                            <td>
                                <button (click)="deleteListCart(product)" type="button" class="btn btn-danger btn-sm"><i
                                        class="bi bi-cart-dash"></i></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <h5 *ngIf="listCart.length < 1"> -->
                <table *ngIf="listCart.length < 1" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Costo</th>
                            <!-- <th scope="col">Cantidad</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <h5>&nbsp;No hay productos en el carrito</h5>
                    </tbody>
                </table>
                <!-- </h5> -->
            </div>
            <!-- FILA ABAJO -->
            <hr>
            <div class="row" style="height: 32vh; overflow-y: scroll;">
                <table *ngIf="listProducts.length > 0" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Resumen de costos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr>
                            <td>Costo Neto: {{ cartCostoNeto | currency }}</td>
                            <td></td>
                            <td class="text-end">Iva (16%): {{ cartIva | currency }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-end">Total: {{ cartTotal | currency }}</td>
                        </tr>
                        <tr>
                            <td>
                                <button (click)="clearListCart()" class="btn btn-danger btn-sm">Limpiar</button>
                            </td>
                            <td></td>
                            <td class="text-end">
                                <button [disabled]="listCart.length == 0" (click)="confirmarCompra()" class="btn btn-info btn-sm">Efectuar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>