<app-navbar></app-navbar>
<app-progress-bar *ngIf="loading"></app-progress-bar>
<div *ngIf="!loading" class="container">
    <div class="title my-3">
        <div class="row">
            <div class="col">
                <h4>Venta de Productos - Caja</h4>
                <h6>Usuario: Gestacio</h6>
            </div>
            <div class="col">
                <div class="float-end">
                    <label for="inputDNI">Buscar Cliente</label>
                    <div>
                        <input (keypress)="numberOnly($event)" (keyup)="getDNI($event)" class="form-control"
                            minlength="5" maxlength="9" type="text" name="inputDNI" id="inputDNI" placeholder="CI/RIF:"
                            autofocus="autofocus">
                    </div>
                </div>
                <!-- <div class="form-group">
                    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge">
                  </div> -->
            </div>
        </div>
        <!-- <form class="d-flex gap-2">
            <button type="button" class="btn btn-info" routerLink="/add">Agregar Producto</button>
            <button type="button" class="btn btn-secondary" routerLink="/sell">Vender Producto</button>
        </form> -->
    </div>



    <div class="row">
        <!-- COLUMNA IZQUIERDA -->
        <div class="col-6">
            <!-- FILA IZQUIERDA ARRIBA -->
            <div class="row" style="height: 35vh; overflow-y: scroll;">
                <table *ngIf="listProducts.length > 0" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Stock</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of listProducts" class="table-light">
                            <td>{{ product.name }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.price | currency:'symbol':'Bs. ' }}</td>
                            <td>{{ product.stock }}</td>
                            <td>
                                <button (click)="insertListCart(product)" type="button" class="btn btn-info btn-sm"><i
                                        class="bi bi-cart-plus"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h5 *ngIf="listProducts.length < 1">No hay productos para mostar</h5>
            </div>
            <hr>
            <!-- FILA IZQUIERDA ABAJO -->
            <div class="row" style="height: 32vh; overflow-y: scroll;">
                <table class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th>Cliente:</th>
                            <th>{{ cliente.xbusinessname }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr>
                            <td>CI/RIF: {{ cliente.xdni }} </td>
                            <td>Dirección: {{ cliente.xshortaddress }} </td>
                            <th></th>
                        </tr>
                        <tr>
                            <td>Dirección Larga: {{ cliente.xlongaddress }} </td>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>
                                <button (click)="clearThisCliente()" class="btn btn-success btn-sm">Nuevo</button>
                            </td>
                            <td></td>
                            <td></td>
                            <!-- <td class="text-end">
                                <button [disabled]="listCart.length == 0" (click)="confirmarCompra()"
                                    class="btn btn-info btn-sm">Facturar</button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- COLUMNA DERECHA -->
        <div class="col-6">
            <!-- FILA ARRIBA -->
            <div class="row" style="height: 35vh; overflow-y: scroll;">
                <table *ngIf="listCart.length > 0" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Costo</th>
                            <!-- <th scope="col">Cantidad</th> -->
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of listCart" class="table-light">
                            <td>{{ product.id }}</td>
                            <!-- <td>{{ product.description }}</td> -->
                            <td>{{ product.name }}</td>
                            <td>{{ product.price | currency:'symbol':'Bs. ' }}</td>
                            <td>
                                <button (click)="deleteListCart(product)" type="button" class="btn btn-danger btn-sm"><i
                                        class="bi bi-cart-dash"></i></button>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <h5 *ngIf="listCart.length < 1"> -->
                <table *ngIf="listCart.length < 1" class="table table-info table-hover">
                    <thead>
                        <tr>
                            <!-- <th>ID</th>
                            <th class="text-left">Producto</th>
                            <th>Costo</th>
                            <th></th> -->
                            <th></th>
                            <th class="text-center">No hay productos en el carrito</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <h5>&nbsp;No hay productos en el carrito</h5> -->
                    </tbody>
                </table>
                <!-- </h5> -->
            </div>
            <!-- FILA ABAJO -->
            <hr>
            <div class="row" style="height: 32vh; overflow-y: scroll;">
                <table class="table table-info table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Resumen de costos</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="table-light">
                        <tr>
                            <td>Costo Neto: {{ cartCostoNeto | currency:'symbol':'Bs. ' }}</td>
                            <td></td>
                            <td class="text-end">Iva (16%): {{ cartIva | currency:'symbol':'Bs. ' }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="text-end">Total: {{ cartTotal | currency:'symbol':'Bs. ' }}</td>
                        </tr>
                        <tr>
                            <td>
                                <button (click)="clearListCart()" class="btn btn-danger btn-sm">Limpiar</button>
                            </td>
                            <td></td>
                            <td class="text-end">
                                <button [disabled]="listCart.length == 0 || cliente.xdni == '' "
                                    (click)="confirmarCompra()" class="btn btn-info btn-sm">Facturar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>







    <!-- MODAL FORMULARIO CLIENTE -->

    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#formClienteModal" id="btnModal"
        hidden></button>



    <div class="modal fade" id="formClienteModal" tabindex="-1" role="dialog" aria-labelledby="formClienteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-2"></div>
                    <div class="col text-center">
                        <h3 class="modal-title" id="formClienteModalLabel">Ingreso: {{ this.dniCliente }}</h3>
                    </div>
                    <div class="col-2">
                        <button (click)="clearForm()" type="button" class="btn-close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true"></span>
                        </button>
                    </div>


                </div>
                <form [formGroup]="formCliente" (ngSubmit)="saveMaCliente()">
                    <div class="modal-body">
                        <input formControlName="xbusinessname" type="text" class="form-control mt-2"
                            placeholder="Nombre Completo" maxlength="60">
                        <span
                            *ngIf="formCliente.get('xbusinessname')?.hasError('required') && formCliente.get('xbusinessname')?.touched">
                            El campo nombre es <strong>requerido</strong>
                        </span>
                        <input (keypress)="numberOnly($event)" formControlName="xtelf" type="text"
                            class="form-control mt-2" placeholder="Teléfono" maxlength="11" minlength="11">
                        <span
                            *ngIf="formCliente.get('xtelf')?.hasError('required') && formCliente.get('xtelf')?.touched">
                            El campo teléfono es <strong>requerido</strong>
                        </span>
                        <input formControlName="xshortaddress" type="text" class="form-control mt-2"
                            placeholder="Dirección Corta" maxlength="60">
                        <span
                            *ngIf="formCliente.get('xshortaddress')?.hasError('required') && formCliente.get('xshortaddress')?.touched">
                            El campo dirección corta es <strong>requerido</strong>
                        </span>
                        <input formControlName="xlongaddress" type="text" class="form-control mt-2"
                            placeholder="Dirección Larga" maxlength="250">

                        <!-- <div class="row mt-2 text-center">
                        <div class="col-lg-6">
                            <button routerLink="/products" type="button" class="btn btn-primary">Volver</button>
                        </div>
                        <div class="col-lg-6">
                            <button [disabled]="formCliente.invalid" type="submit" class="btn btn-success">Aceptar</button>
                        </div>
                    </div> -->
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button> -->
                        <button (click)="clearForm()" type="button" class="btn btn-danger" id="cancelModal"
                            data-dismiss="modal">Cancelar</button>
                        <button [disabled]="formCliente.invalid" type="submit" class="btn btn-info">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>